.top-menu-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 16px;
  padding: 12px 16px;
  background-color: #121212;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.top-menu-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}